.project-details {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #ffffff;
    text-align: center;
  }
  .project-detail-container {
    width: 50%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
  }
  
  .project-title {
    position: relative;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  color: #2B2B2B;
  margin-bottom: 30px;
  margin-top: 60px;

  }
  
  .project-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .project-info div {
    font-size: 16px;
  }
  
  .project-description {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .project-image {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto 20px auto; /* Set margin to auto horizontally and 20px vertically */
}
  
  .not-found {
    font-size: 24px;
    color: red;
    text-align: center;
  }
  
  a {
    color: blue;
    text-decoration: none;
  }
  
  