.about {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #ffffff;
  text-align: center;
}

.topHeader {
  background: #0066FF; 
  color: white;
  padding: 15px 0;
  font-family: 'Termina', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.contentContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 15px;
  text-align: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  width: 100%;
  max-width: 1200px;
}

.leftColumn, .rightColumn {
  display: flex;
  flex-direction: column;
  
}

.backgroundText {
  position: absolute;
  z-index: 0;
  font-size: 130px; 
  font-weight: bold;
  top: calc(1.5% - 80px); 
  left: calc(37% - 75px);   
  color: #2b2b2b28;
  animation: slideInFromRight 1.5s forwards;
  user-select: none; 
  margin-left: 150px;
  transform: translate(-50%, -50%); 
  white-space: nowrap;
  font-family: 'Termina', sans-serif;
}

.textWithBackground {
  position: relative; 
  margin-top: 30px;
  margin-bottom: 10px;
}

p {
  position: relative;
  z-index: 1; 
}

.foregroundText {
  font-family: 'Termina', sans-serif;
  font-size: 36px;
  color: #2B2B2B;
  margin-bottom: 40px;
  margin-top: 40px;
  animation: slideInFromRight 1.5s forwards;
}

.paragraphWrapper {
  position: relative;
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
}

.firmInfo {
  position: relative;
  z-index: 1;
  font-size: 18px;
  color: #444;
  line-height: 1.6;
}

.footer {
  background: #000;
  color: #fff;
  margin-top: 100px;
  padding: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerLinks a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footerInfo p, .footerCopyright p {
  margin: 5px 0;
}

.footerInfo a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.coordinates {
  margin: 0 0 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: white;
  text-align: center;
}

.contractorSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  font-family: 'Termina', sans-serif;
  font-size: 32px;
}

.infoRow {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: -5px 0;
}

.brokerInfo {
  text-align: left;
  font-size: 18px;
  line-height: 1.6;
  color: #444;
  margin-left: 100px;
}

.emailIcon {
  margin-right: 8px;
}

.brokerInfo a {
  color: #0066FF;
  text-decoration: none;
}

@media (max-width: 988px) {
  .backgroundText {
    font-size: 130px;
    margin-top: -800px;
  }

  .foregroundText {
    font-size: 24px;
  }

  .firmInfo {
    font-size: 16px;
    margin-top: 15px;
  }

  .footer {
    padding: 30px;
    margin-top: 50px;
  }

  .coordinates {
    font-size: 20px;
  }

  .gridContainer {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .backgroundText {
    font-size: 115px;
    margin-left: 112px;
  }

  .foregroundText {
    font-size: 20px;
  }

  .firmInfo {
    font-size: 14px;
    margin-top: 10px;
  }

  .footer {
    padding: 20px;
    margin-top: 30px;
  }

  .coordinates {
    font-size: 18px;
  }
}
