.home {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #ffffff;
  text-align: center;
}

.topHeader {
  background: #0066FF; /* Blue Header */
  color: white;
  padding: 15px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.contentContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 15px;
  text-align: center;
}

.backgroundText {
  position: absolute;
  z-index: 0;
  font-size: 160px; /* Adjust size as needed */
  font-weight: bold;
  top: calc(1.5% - 80px); 
  left: calc(37% - 75px);   
  color: #2b2b2b28;
  animation: slideInFromRight 1.5s forwards;
  user-select: none; 
  margin-left: 150px;
  transform: translate(-50%, -50%);
}
.textWithBackground {
  position: relative; /* Essential for absolute positioning of children */
  margin-bottom: 20px; /* Add space between paragraphs */
}

p {
  position: relative; /* Bring paragraph on top of the background text */
  z-index: 1; /* Higher than the background text */
}
.foregroundText {
  position: relative;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  color: #2B2B2B;
  margin-bottom: 20px;
}

.paragraphWrapper {
  position: relative;
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
}

.firmInfo {
  position: relative;
  z-index: 1;
  font-size: 18px;
  color: #444;
  max-width: 600px;
  margin-top: 20px;
  line-height: 1.6;
}

.footer {
  background: #000;
  color: #fff;
  margin-top: 100px;
  padding: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerLinks a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footerInfo p, .footerCopyright p {
  margin: 5px 0;
}

.footerInfo a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.coordinates {
  margin: 0 0 16px;
  font-family: Montserrat;
  font-size: 24px;
  color: white;
  text-align: center;
}

/* Responsive Design: Adjusts styles for screens smaller than 768px */
@media (max-width: 768px) {
  .backgroundText {
    font-size: 80px;
  }

  .foregroundText {
    font-size: 24px;
  }

  .firmInfo {
    font-size: 16px;
    margin-top: 15px;
  }

  .footer {
    padding: 30px;
    margin-top: 50px;
  }

  .coordinates {
    font-size: 20px;
  }
}

/* Responsive Design: Adjusts styles for screens smaller than 480px */
@media (max-width: 480px) {
  .backgroundText {
    font-size: 50px;
  }

  .foregroundText {
    font-size: 20px;
  }

  .firmInfo {
    font-size: 14px;
    margin-top: 10px;
  }

  .footer {
    padding: 20px;
    margin-top: 30px;
  }

  .coordinates {
    font-size: 18px;
  }
}
