/* Home.module.css */

.home {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #ffffff;
  text-align: center;
}

.contentContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  margin-top: 80px;
  text-align: center;
}

.backgroundText {
  position: absolute;
  z-index: 0;
  font-size: 150px;
  top: calc(1.5% - 80px); 
  left: calc(37% - 75px); 
  transform: translate(-50%, -50%);
  font-weight: bold;
  opacity: 0.1;
  color: #2b2b2b28;
  user-select: none;
  animation: slideInFromRight 1.5s forwards;
}

.firmInfo {
  position: relative;
  z-index: 1;
  font-size: 18px;
  color: #444;
  font-weight: 600;
  max-width: 600px;
  line-height: 1.6;
  opacity: 0;
  animation: slideInFromRight 1.5s forwards;
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.InfoHeader {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  color: #2B2B2B;
  margin-bottom: 20px;
  margin-top: 60px;
  animation: slideInFromRight 1.5s forwards;
}

.projectInfo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.projectInfo h2 {
  text-align: left;
  color: #2b2b2b;
}

.projectInfo p {
  text-align: right;
  color: #444;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .projectInfo {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .projectInfo h2,
  .projectInfo p {
    text-align: center;
  }

  .backgroundText {
    font-size: 80px;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
  }
}

.footer {
  background: #000;
  color: #fff;
  margin-top: 100px;
  padding: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutLinkContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.aboutLink {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #0066ff;
  border-radius: 8px;
  transition: all 0.3s ease;
  animation: slideInFromRight 1.5s forwards;
}

.aboutLink:hover {
  background-color: #0066ff;
  color: #fff;
}

.aboutLink .fas {
  font-size: 18px;
}
