.home {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #ffffff;
  text-align: center;
}

.contentContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  margin-top: 40px;
  text-align: center;
}

.backgroundText {
  position: absolute;
  z-index: 0;
  font-size: 150px;
  margin-top: 60px;
  margin-left: 78px;
  font-weight: bold;
  opacity: 0.1;
  color: #000000;
  user-select: none;
}

.foregroundText {
  position: relative;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  color: #2B2B2B;
  margin-bottom: 20px;
}

.firmInfo {
  position: relative;
  z-index: 1;
  font-size: 18px;
  color: #444;
  font-weight: 600;
  max-width: 600px;
  margin-top: 20px;
  line-height: 1.6;
}

.footer {
  background: #000;
  color: #fff;
  margin-top: 100px;
  padding: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerLinks a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footerInfo p, .footerCopyright p {
  margin: 5px 0;
}

.footerInfo a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.coordinates {
  margin: 0 0 16px;
  font-family: Montserrat;
  font-size: 24px;
  color: white;
  text-align: center;
}

/* Responsive Design: Adjusts styles for screens smaller than 768px */
@media (max-width: 768px) {
  .backgroundText {
    font-size: 80px;
  }

  .foregroundText {
    font-size: 24px;
  }

  .firmInfo {
    font-size: 16px;
    margin-top: 15px;
  }

  .footer {
    padding: 30px;
    margin-top: 50px;
  }

  .coordinates {
    font-size: 20px;
  }
}

/* Responsive Design: Adjusts styles for screens smaller than 480px */
@media (max-width: 480px) {
  .backgroundText {
    font-size: 50px;
  }

  .foregroundText {
    font-size: 20px;
  }

  .firmInfo {
    font-size: 14px;
    margin-top: 10px;
  }

  .footer {
    padding: 20px;
    margin-top: 30px;
  }

  .coordinates {
    font-size: 18px;
  }
}
