.footer {
  background: #000;
  color: #fff;
  padding: 90px;
  margin-top: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerContent {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.footerLinks {
  display: flex;
  margin-top: -90px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-basis: 200%; /* Full width on smaller screens */
}

.footerLinks a {
  text-decoration: none;
  margin: 10px 20px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
}


.icon {
  margin-right: 10px; /* Space between icon and text */
}

.coordinates {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: white;
  margin-top: 20px;
  text-align: left;
  flex-basis: 100%; /* Full width on smaller screens */
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin: 0 50px;
  flex-basis: 100%; /* Full width on smaller screens */
}

.socialIcons a {
  margin: 0 22px;
  color: #0066ff;
  margin-top: 20px;
}

.footerCopyright {
  text-align: center;
  margin-top: 20px;
  flex-basis: 100%; /* Full width on smaller screens */
}

.footerCopyright p a {
  color: #fff;
  text-decoration: none;
}
